.nav-link span {
    color: white;
    font-weight: 500;
}

.nav-link span:hover {
    color: red;
    text-decoration: underline;
}

.brand {
    display: flex;
    align-items: center;
}

.signOut {
    color: white;
}

.signOut:hover {
    color: red;
    text-decoration: underline;
}