.nav-link a {
    color: white;
    padding-left: 30px;
    font-weight: 500;
}

.nav-link a:hover {
    color: red;
    text-decoration: none;
}

.brand {
    display: flex;
    align-items: center;
}

.signOut {
    color: white;
}

.signOut:hover {
    color: red;
}