/* .bg {
    background-color: #006855;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    font-family: 'Or Lemmen', Times, Times 'New Roman', serif;
    font-size: 36px;

} */

a:hover {
    text-decoration: none;
}